{% extends "server/base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/contactus.css' %}">
<title>DRAIC | Contact</title>
{% endblock %}


{% block navbar %}
<nav>
    <ul>
        <li>
            <div class="nav-box">
                <a href="{% url 'home' %}">
                    <center>
                        <i class="fas fa-home fa-lg"></i>
                        <label>Home</label>
                    </center>
                </a>
            </div>
        </li>
        <li>
            <div class="nav-box">
                <a href="{% url 'home' %}#about">
                    <center>
                        <i class="fas fa-info-circle fa-lg"></i>
                        <label>About</label>
                    </center>
                </a>
            </div>
        </li>
        <li>
            <div class="nav-box">
                <a href="{% url 'projects' %}">
                    <center>
                        <i class="fas fa-code fa-lg"></i>
                        <label>Projects</label>
                    </center>
                </a>
            </div>
        </li>
        <li>
            <div class="nav-box">
                <a href="{% url 'achievements' %}">
                    <center>
                        <i class="fas fa-trophy"></i>
                        <label>Achievements</label>
                    </center>
                </a>
            </div>
        </li>
        <li>
            <div class="nav-box">
                <a href="{% url 'contact' %}" class='active'>
                    <center>
                        <i class="fas fa-phone-alt fa-lg"></i>
                        <label>Contact</label>
                    </center>
                </a>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}


{% block body%}
<div class="row row-content justify-content-center">
    <div class="col-3  align-self-center text-center" id="sidebarIcon">
        <i class="fas fa-bars fa-2x" style="margin-top: 0.6em; color: aliceblue;" onclick="openNav()"></i>

    </div>


</div>
{% load static %}
<div class="row">

    <!-- <img class="logoCorner" src="{% static 'img/logo_white.png' %}" alt=""> -->
</div>

<div class="container">


    <div class="row justify-content-center">
        <!-- #00A0FF -->
        <div class="card" style="width: 40rem;">
            <div class="row justify-content-center pt-3">
                <h2 style="text-align: center; color: #00A0FF;" id="title">Conta<span style="color: black;">ct
                        Us</span>
                </h2>

            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <form action="">
                        <div class="form-group">
                            <!-- <label for="name"> Full Name</label> -->
                            <input type="text" class="form-control" id="Name" placeholder="Enter Full Name" required>
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1"> Email address</label> -->
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <!-- <label for="Contact"> Contact No.</label> -->
                            <input type="tel" class="form-control" id="number" placeholder="Contact No"
                                pattern="[0-9]{10}" required>
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleFormControlTextarea1"> Message</label> -->
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                                placeholder="Add your comments!"></textarea>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Send me a copy of the email</label>
                        </div>
                        <small id="emailHelp" class="form-text text-muted">Your email will not be shared with anyone
                            else.</small>
                        <button type="submit" class="btn btn-dark"
                            style="margin-top: 20px; margin-bottom: 25px; font-size: 18px;">Submit</button>
                    </form>
                    <h4>You can also connect us on :</h4>
                </div>
                <div class="row p-2 justify-content-center" id="social" style="background-color:white;">
                    <div class="col-3" style="padding-top: 5px;">
                        <a href="mailto: draic.pune@gmail.com"><img src="{% static 'img/gmail.png' %}" alt=""
                                height="50px" width="50px"></a>
                    </div>
                    <div class="col-3" style="padding-top: 5px;">
                        <a href="https://facebook.com/draicdypcoe"><img src="{% static 'img/fb.png' %}" alt=""
                                height="50px" width="50px"></a>
                    </div>
                    <div class="col-3" style="padding-top: 5px;">
                        <a href="https://instagram.com/draicdypcoe"><img src="{% static 'img/insta.png' %}" alt=""
                                height="50px" width="50px"></a>
                    </div>
                    <div class="col-3" style="padding-top: 5px;">
                        <a href="https://in.linkedin.com/company/d-y-patil-robotics-ai-club"><img
                                src="{% static 'img/linkedin.webp' %}" alt="" height="50px" width="50px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}