{% extends "server/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styleProjects.css' %}" />
{% endblock %}


{% block navbar %}
<nav>
  <ul>
    <li>
      <div class="nav-box">
        <a href="{% url 'home' %}">
          <center>
            <i class="fas fa-home fa-lg"></i>
            <label>Home</label>
          </center>
        </a>
      </div>
    </li>
    <li>
      <div class="nav-box">
        <a href="{% url 'home' %}#about">
          <center>
            <i class="fas fa-info-circle fa-lg"></i>
            <label>About</label>
          </center>
        </a>
      </div>
    </li>
    <li>
      <div class="nav-box">
        <a href="{% url 'projects' %}" class='active'>
          <center>
            <i class="fas fa-code fa-lg"></i>
            <label>Projects</label>
          </center>
        </a>
      </div>
    </li>
    <li>
      <div class="nav-box">
        <a href="{% url 'achievements' %}">
          <center>
            <i class="fas fa-trophy"></i>
            <label>Achievements</label>
          </center>
        </a>
      </div>
    </li>
    <li>
      <div class="nav-box">
        <a href="{% url 'contact' %}">
          <center>
            <i class="fas fa-phone-alt fa-lg"></i>
            <label>Contact</label>
          </center>
        </a>
      </div>
    </li>
  </ul>
</nav>
{% endblock%}

{%block body%}
<div class="row">

  <img class="logoCorner" src="./img/logo_white.png" alt="">
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="container">
    <h2 class="project-heading">
      <i class="fas fa-bars fa-lg" id="sidebarIcon" style="margin-top: 0.6em;" onclick="openNav()"></i>
      DRAIC <span style="color: #00A0FF;">Projects</span>
    </h2>
  </div>

</div>
<hr>
<br>
<div class="container">

  <div class="row">
    <h4 class="text-center">
      Our team focuses on Project-based learning. Besides participating in
      various National and International Competitions, we also work on several
      projects throughout the year. Here are details of some of our projects.
    </h4>
  </div>>

  <div class="row">
    <div class="col-10 col-md-4 text-center">
      <div class="card">
        <div class="circle" id="project_1"> </div>
        <div class="card-body">
          <h6>Autonomous Quadrupled Robot</h6>
          <p>
            Development of 3D Printed Autonomous four-legged robot with Servo
            Motors for actuation.
          </p>
        </div>
      </div>

    </div>
    <div class="col-10 col-md-4">
      <div class="card">
        <div class="circle" id="project_2"> </div>
        <div class="card-body">
          <h6>Customized 3D Printer</h6>
          <p>
            Developed a customized 3D Printer, with PLA as a filament by utilizing some open source resources.
          </p>
        </div>
      </div>

    </div>
    <div class="col-10 col-md-4">
      <div class="card">
        <div class="circle" id="project_3"> </div>
        <div class="card-body">
          <h6>Autonomous Path Finder Robot</h6>
          <p>
            Made an Autonomous Obstacle avoider and Path finder robot with Omni Wheel drive and Ultrasonic Sensor.
          </p>
        </div>
      </div>

    </div>



  </div>

</div>

{% endblock%}