@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@font-face {
    font-family: 'ethnocentricregular';
    src: url('../fonts/ethnocentric_rg-webfont.woff2') format('woff2'),
         url('../fonts/ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("../img/bg_dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.row#social{
    background-color: white;
    margin-left: -20px;
    margin-right: -20px;

    
}
.row#social .col-3{
    text-align: center;
}
/* turquoise */
.container input{
  background-color:turquoise;   
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  padding-bottom: 16px;
  margin-bottom: 52px;
  color: #111;
  border-bottom: 2px solid black;
}
.container textarea{
  background-color: turquoise;
  font-size: 20px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border: 2px solid black;
}

.card{
    background-color:turquoise;
    margin-top: 20px;
    border-radius: 20px;
    margin: 20px;
}
h2#title{
    font-family: "ethnocentricregular", "Helvetica";
}
form{
    width: 80%;
    padding: 10px;
}
form button{
  text-align: center;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .logoCorner1{
    position: absolute;
    left: 10px;
    top: 10px;
    height: 10%;
  width: auto;
    z-index: 3;
  }     

  
  /* Sidenav Ended*/

  nav{
    cursor: pointer;
    position: fixed;
    background-color: #202020;
    padding: 0.2em 1em;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* border: 1px solid #ffffff; */
    border-radius: 0 1.2em 1.2em 0;
    transition: width 5000ms ease;
    box-shadow: 0 0 10px #ffffff;
    z-index: 1;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav-item => li
navbar-nav => ul
navbar => nav 
nav-link => a 
link-text => label*/



nav ul li{
    width: 100%;
    padding: 2em 0;
    
}
.nav-box a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 1.2em;
}
.nav-box i{
    font-size: 1.6em;
}

.nav-box label{
    display: none;
}

nav :hover{
    transition: width 2000ms ease;
}

nav:hover label{
    display: inline;
    padding: 0 1rem;
    vertical-align: middle;
}

nav ul li :hover{
    color: #00A0FF;
}

a.active{
    color: #00A0FF;
}
/*main nav ended */

.logoCorner{
  position: absolute;
  left: 5px;
  right:50px;
  top: 10px;
  height: 15%;
width: auto;
  z-index: 1;
}
@media screen and (max-width: 768px) {
    nav {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {


    #sidebarIcon{
        display: none;  
    }
}
@media screen and (max-width: 768px) {


  .logoCorner{
      display: none;  
  }
}    